/* CSS del index */

#calculadora {
    width: 40rem;
    height: 71rem;
    border: 1rem solid #2C475A;
    background-color: #EACEA7;
    border-radius: 1rem;

    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}